.inputField_buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.inputField_buttons_button {
  outline: none;
  border: 1px solid lightblue;
  border-radius: 4px;
  color: blue;
  background-color: white;
  padding: 7px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.inputField_buttons_button div:last-child {
  font-size: 8px;
}

.inputField_buttons_button:hover {
  cursor: pointer;
  background-color: rgb(126, 126, 255);
  color: white;
}

.outputField_buttons {
  display: flex;
  flex-grow: 1;
  height: 30px;
  gap: 4px;
}

.outputField_buttons_button {
  padding: 4px 0px;
  flex-grow: 1;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.insert {
  background-color: rgb(255, 255, 37);
}

.insert:hover {
  background-color: rgb(255, 213, 0);
}

.return {
  background-color: rgb(27, 255, 198);
}

.return:hover {
  background-color: rgb(27, 255, 107);
}
