.inputField_buttons {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 8px;
}

.inputField_buttons_button {
  outline: none;
  border: 1px solid lightblue;
  border-radius: 4px;
  color: lightblue;
  background-color: white;
  padding: 4px 0px;
}

.inputField_buttons_button:hover {
  cursor: pointer;
  background-color: rgb(126, 126, 255);
  color: white;
}
