.body_wrapper {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  width: fit-content;
  height: 550px;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
}

.vending_wrap {
  /* width: 65%; */
  width: 500px;
  height: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.cash_input {
  width: 97%;
  height: 100px;
  border-radius: 16px;
  background-color: #4d4d4d;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 20px;
}

.btn_wrap {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  align-items: center;
  justify-content: space-around;
  padding: 25px 20px 0 20px;
}

.item_btn {
  width: 120px;
  height: 100px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
}

.btn_default_color {
  background-color: #ffc300;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease,
    background-color 0.3s ease;
}

.btn_pale_color {
  background-color: #ffd54f;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease,
    background-color 0.3s ease;
}

.btn_deep_color {
  background-color: #ffb300;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease,
    background-color 0.3s ease;
}

.btn_default_color:hover {
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.05); /* 살짝 커짐 */
  background-color: #ffd54f; /* 살짝 더 밝은 노랑 */
  transform: translateY(-2px); /* 살짝 위로 올라감 */
}

.btn_pale_color:hover {
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.05); /* 살짝 커짐 */
  background-color: #ffe082; /* 살짝 더 밝은 노랑 */
  transform: translateY(-2px); /* 살짝 위로 올라감 */
}

.btn_deep_color:hover {
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.05); /* 살짝 커짐 */
  background-color: #ffc107; /* 살짝 더 밝은 노랑 */
  transform: translateY(-2px); /* 살짝 위로 올라감 */
}

.item_btn:active {
  transform: translateY(5px); /* 살짝 눌리는 느낌 */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.item_name {
  font-size: 14px;
  font-weight: 500;
}

.item_price {
  font-size: 12px;
  color: #4d4d4d;
  font-weight: 300;
}

.control_area_wrap {
  width: 600px;
  height: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  padding: 40px;
}

.insert_return_space {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.log_area {
  background-color: #e5e5e5;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 12px;
  padding: 20px;
  font-weight: 400;
  line-height: 2;
  overflow: auto;
}
